In [1]:
import pandas as pd
r = [1, 2]
ser = pd.Series(r, copy=False)
ser

0    1
1    2
dtype: int64

In [2]:
ser.iloc[0] = 999
ser

0    999
1      2
dtype: int64

In [3]:
r

[1, 2]

In [4]:
import numpy as np
r = np.array([1, 2])
ser = pd.Series(r, copy=False)
ser

0    1
1    2
dtype: int32

In [5]:
ser.iloc[0] = 999
ser

0    999
1      2
dtype: int32

In [6]:
r

array([999,   2])

In [7]:
r = np.array([1, 2])
ser = pd.Series(r, copy=True)
ser

0    1
1    2
dtype: int32

In [8]:
ser.iloc[0] = 999
ser

0    999
1      2
dtype: int32

In [9]:
r

array([1, 2])

In [ ]:
df = pd.DataFrame({'A': 'a b c'.split(), 'B': [10, 20, 30], 'C': [11,12,13]})
df

In [ ]:
df.loc[:,'B':'C'].sum(axis=1) # sum each row

In [ ]:
df.loc[:,'B':'C'].sum(axis=0) # sum each column

In [10]:
df1 = pd.DataFrame({'A': [10, 20, 30], 'B': [11,12,13]})
print(df1/10)

     A    B
0  1.0  1.1
1  2.0  1.2
2  3.0  1.3

In [11]:
df2 = pd.DataFrame({'A': [2, 4, 6], 'B': [1,2,3]})
print(df1+df2)

    A   B
0  12  12
1  24  14
2  36  16

In [12]:
sr1 = pd.Series([1,2],index=['A','B'])
sr1

A    1
B    2
dtype: int64

In [13]:
sr2 = pd.Series([1,2,3])
sr2

0    1
1    2
2    3
dtype: int64

In [18]:
df1+sr1

    A   B
0  11  13
1  21  14
2  31  15

In [16]:
df1.T

    0   1   2
A  10  20  30
B  11  12  13

In [19]:
df1.T+sr2

    0   1   2
A  11  22  33
B  12  14  16

In [ ]:
sum_1_0 = df1.sum(axis=0)
sum_1_0

In [ ]:
df1/sum_1_0

In [ ]:
sum_1_1 = df1.sum(axis=1)
sum_1_1

In [ ]:
df1/sum_1_1