### Pandas
1. DataFrame 
   - DataFrame is a table
   - Each entry has a value corresponding to a row and a column
   - "0,no"entry is 10, "1,yes" is 200
   - Syntax: a dict whose keys are the column names(eg. 'yes','no'), whose values are a list of entries(eg. [100,200]).

In [2]:
import pandas as pd
pd.DataFrame({'yes':[100,200],'no':[10,20]})

   yes  no
0  100  10
1  200  20

In [3]:
# entry value is a string
pd.DataFrame({'Bob':['I liked it.','It was awful.'],'Sue':['Pretty good!','Great!']})

             Bob           Sue
0    I liked it.  Pretty good!
1  It was awful.        Great!

- default use an ascending count from 0 for the row labels
- we can assign the labels outselves - using index

In [4]:
pd.DataFrame({'Bob':['I liked it.','It was awful.'],'Sue':['Pretty good!','Great!']}, index=['Opinion B', 'Answer B'])

                     Bob           Sue
Opinion B    I liked it.  Pretty good!
Answer B   It was awful.        Great!

2. Series
   - a sequence of data values
   - If DataFrame is a table, a Series is a list
   - a single column of a DataFrame
   - use 'index' to assign row labels
   - it does not have a column name
   - but it has a 'name' attribute
   - a DataFrame glues together a bunch of Series

In [5]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
pd.Series([155,342,119],index=['2015 Sales','2016 Sales','2017 Sales'], name='Product A')

2015 Sales    155
2016 Sales    342
2017 Sales    119
Name: Product A, dtype: int64

### reading data files
1. read from CSV files
   - pd.read_csv()