### Indexing, Selecting, Assigning

1. Indexing using Python native accessor(column first, row second)

In [1]:
import pandas as pd
#reviews = pd.read_csv('world-happiness-report-2021/world-happiness-report-2021.csv', index_col=0)
reviews = pd.read_csv('world-happiness-report-2021/world-happiness-report-2021.csv')
pd.set_option('display.max_rows',5)
reviews

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

- access 'Generosity' property of reviews
   - using dot operator (like an object property)
   - using indexing operator ([]) (like a dict key)

In [2]:
reviews.Generosity # only works when there is no space in the property name

0     -0.098
1      0.030
       ...
147   -0.047
148   -0.102
Name: Generosity, Length: 149, dtype: float64

In [3]:
reviews['Generosity']

0     -0.098
1      0.030
       ...
147   -0.047
148   -0.102
Name: Generosity, Length: 149, dtype: float64

In [4]:
reviews['Ladder score']  # can contain space

0      7.842
1      7.620
       ...
147    3.145
148    2.523
Name: Ladder score, Length: 149, dtype: float64

In [5]:
#reviews['Ladder score']['Finland'] # column first, row second
reviews['Ladder score'][0]

7.842

2. pandas accessor operators (row first, column second)
   - index-based selection (iloc) : 
      - selecting data based on its numerical position in the data
      - index scheme: iloc uses the Python stdlib indexing scheme, where the first element of the range is included and **the last one excluded**. So 0:10 will select entries 0,...,9.

In [6]:
reviews.iloc[0] # first row

Country name                                      Finland
Regional indicator                         Western Europe
                                                ...
Explained by: Perceptions of corruption             0.481
Dystopia + residual                                 3.253
Name: 0, Length: 20, dtype: object

In [7]:
reviews.iloc[:, 0] # first column

0          Finland
1          Denmark
          ...
147       Zimbabwe
148    Afghanistan
Name: Country name, Length: 149, dtype: object

In [8]:
reviews.iloc[0:3,0] # use a slice ; the 1st column in rows 0 to 2

0        Finland
1        Denmark
2    Switzerland
Name: Country name, dtype: object

In [9]:
reviews.iloc[[0,2,4],0] # use a list

0        Finland
2    Switzerland
4    Netherlands
Name: Country name, dtype: object

In [10]:
reviews.iloc[-3:,0] # minus index means counting from the end

146         Rwanda
147       Zimbabwe
148    Afghanistan
Name: Country name, dtype: object

In [11]:
reviews.iloc[:3, 0:3]

  Country name Regional indicator  Ladder score
0      Finland     Western Europe         7.842
1      Denmark     Western Europe         7.620
2  Switzerland     Western Europe         7.571

- label-based selection (loc) 
   - selecting data based on its **index value** in the data
   - indexing scheme : loc indexes inclusively. So 0:10 will select entries 0,...,10 .

In [12]:
reviews.loc[0, 'Country name']

'Finland'

In [13]:
reviews.loc[:, ['Country name','Regional indicator','Ladder score']]

    Country name  Regional indicator  Ladder score
0        Finland      Western Europe         7.842
1        Denmark      Western Europe         7.620
..           ...                 ...           ...
147     Zimbabwe  Sub-Saharan Africa         3.145
148  Afghanistan          South Asia         2.523

[149 rows x 3 columns]

In [14]:
reviews.loc[:, 'Country name':'Ladder score']

    Country name  Regional indicator  Ladder score
0        Finland      Western Europe         7.842
1        Denmark      Western Europe         7.620
..           ...                 ...           ...
147     Zimbabwe  Sub-Saharan Africa         3.145
148  Afghanistan          South Asia         2.523

[149 rows x 3 columns]

In [15]:
reviews.loc[0:3, 'Country name':'Ladder score'] # indices are inclusive for loc

  Country name Regional indicator  Ladder score
0      Finland     Western Europe         7.842
1      Denmark     Western Europe         7.620
2  Switzerland     Western Europe         7.571
3      Iceland     Western Europe         7.554

In [18]:
# reread the csv , but assign the index column 'Country name'
reviews = pd.read_csv('world-happiness-report-2021/world-happiness-report-2021.csv', index_col=0)
pd.set_option('display.max_rows',10)
reviews

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [20]:
reviews.loc["Finland":"Switzerland", 'Ladder score':'lowerwhisker']

,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker
Country name,,,,
Finland,7.842,0.032,7.904,7.780
Denmark,7.620,0.035,7.687,7.552
Switzerland,7.571,0.036,7.643,7.500