## Pandas Unit 2:  Indexing, Selecting, Assigning

### Indexing using Python native accessor
- Since a DataFrame is a dict with column name as the key, and the list of column values as its value
- So the native indexing is using **column first, row second** scheme

In [1]:
import pandas as pd
#reviews = pd.read_csv('world-happiness-report-2021/world-happiness-report-2021.csv', index_col=0)
reviews = pd.read_csv('world-happiness-report-2021/world-happiness-report-2021.csv')
pd.set_option('display.max_rows',5)
reviews

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

- access 'Generosity' property of reviews
   - using dot operator (like an object property)
   - using indexing operator `[]` (like a dict key)

In [2]:
reviews.Generosity # only works when there is no space in the property name

0     -0.098
1      0.030
       ...
147   -0.047
148   -0.102
Name: Generosity, Length: 149, dtype: float64

In [3]:
reviews['Generosity']

0     -0.098
1      0.030
       ...
147   -0.047
148   -0.102
Name: Generosity, Length: 149, dtype: float64

In [4]:
reviews['Ladder score']  # can contain space

0      7.842
1      7.620
       ...
147    3.145
148    2.523
Name: Ladder score, Length: 149, dtype: float64

In [5]:
#reviews['Ladder score']['Finland'] # column first, row second
reviews['Ladder score'][0]

7.842

### pandas accessor operators
- It uses **row first, column second** scheme like a database record
- Index-based selection (using **iloc**) : 
   - Selecting data based on its numerical position in the data
   - Index scheme: iloc uses the Python stdlib indexing scheme, where the first element of the range is included and **the last one excluded**. So 0:10 will select entries 0,...,9.

In [6]:
reviews.iloc[0] # first row

Country name                                      Finland
Regional indicator                         Western Europe
                                                ...
Explained by: Perceptions of corruption             0.481
Dystopia + residual                                 3.253
Name: 0, Length: 20, dtype: object

In [7]:
reviews.iloc[:, 0] # first column

0          Finland
1          Denmark
          ...
147       Zimbabwe
148    Afghanistan
Name: Country name, Length: 149, dtype: object

In [8]:
reviews.iloc[0:3,0] # use a slice ; the 1st column in rows 0 to 2

0        Finland
1        Denmark
2    Switzerland
Name: Country name, dtype: object

In [9]:
reviews.iloc[[0,2,4],0] # use a list

0        Finland
2    Switzerland
4    Netherlands
Name: Country name, dtype: object

In [10]:
reviews.iloc[-3:,0] # minus index means counting from the end

146         Rwanda
147       Zimbabwe
148    Afghanistan
Name: Country name, dtype: object

In [11]:
reviews.iloc[:3, :3]

  Country name Regional indicator  Ladder score
0      Finland     Western Europe         7.842
1      Denmark     Western Europe         7.620
2  Switzerland     Western Europe         7.571

### pandas accessor operators
- Label-based selection (use **loc**) 
   - Selecting data based on its **index value** in the data
   - Indexing scheme : loc indexes **inclusively**, because it is easier for index values. 
      - 0:10 will select entries 0,...,10 .
      - 'Country name':'Ladder score' will select entries 'Country name','Regional indicator','Ladder score' .

In [12]:
reviews.loc[0, 'Country name']

'Finland'

In [13]:
reviews.loc[:, ['Country name','Regional indicator','Ladder score']]

    Country name  Regional indicator  Ladder score
0        Finland      Western Europe         7.842
1        Denmark      Western Europe         7.620
..           ...                 ...           ...
147     Zimbabwe  Sub-Saharan Africa         3.145
148  Afghanistan          South Asia         2.523

[149 rows x 3 columns]

In [14]:
reviews.loc[:, 'Country name':'Ladder score']

    Country name  Regional indicator  Ladder score
0        Finland      Western Europe         7.842
1        Denmark      Western Europe         7.620
..           ...                 ...           ...
147     Zimbabwe  Sub-Saharan Africa         3.145
148  Afghanistan          South Asia         2.523

[149 rows x 3 columns]

In [15]:
reviews.loc[0:3, 'Country name':'Ladder score'] # indices are inclusive for loc

  Country name Regional indicator  Ladder score
0      Finland     Western Europe         7.842
1      Denmark     Western Europe         7.620
2  Switzerland     Western Europe         7.571
3      Iceland     Western Europe         7.554

In [16]:
# reread the csv , but assign the index column 'Country name'
reviews = pd.read_csv('world-happiness-report-2021/world-happiness-report-2021.csv', index_col=0)
pd.set_option('display.max_rows',10)
reviews

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [17]:
reviews.loc["Finland":"Switzerland", 'Ladder score':'lowerwhisker']

,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker
Country name,,,,
Finland,7.842,0.032,7.904,7.780
Denmark,7.620,0.035,7.687,7.552
Switzerland,7.571,0.036,7.643,7.500

### Manipulate the index
- Label-based selection use the labels in the index, which is not immutable
- set_index() method can change the index field

In [18]:
reviews = pd.read_csv('world-happiness-report-2021/world-happiness-report-2021.csv')
reviews.set_index('Regional indicator')

,Country name,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Regional indicator,,,,,,,,,,,,,,,,,,,
Western Europe,Finland,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
Western Europe,Denmark,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
Western Europe,Switzerland,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
Western Europe,Iceland,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
Western Europe,Netherlands,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sub-Saharan Africa,Lesotho,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
Sub-Saharan Africa,Botswana,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
Sub-Saharan Africa,Rwanda,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
Sub-Saharan Africa,Zimbabwe,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
South Asia,Afghanistan,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

### Conditional selection
- select by condition
- the result is a Series of True/False
- the result can be used inside of loc to select the relevant data

In [19]:
reviews = pd.read_csv('world-happiness-report-2021/world-happiness-report-2021.csv')
reviews['Regional indicator']=='Western Europe'

0       True
1       True
2       True
3       True
4       True
       ...
144    False
145    False
146    False
147    False
148    False
Name: Regional indicator, Length: 149, dtype: bool

In [20]:
reviews.loc[reviews['Regional indicator']=='Western Europe']

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,Italy,Western Europe,6.483,0.045,6.572,6.395,10.623,0.880,73.800,0.693,-0.084,0.866,2.43,1.393,0.940,0.798,0.379,0.133,0.047,2.794
38,Cyprus,Western Europe,6.223,0.049,6.319,6.128,10.576,0.802,73.898,0.763,-0.015,0.844,2.43,1.377,0.765,0.801,0.464,0.178,0.061,2.578
57,Portugal,Western Europe,5.929,0.055,6.037,5.821,10.421,0.879,72.600,0.892,-0.244,0.887,2.43,1.323,0.939,0.760,0.621,0.029,0.033,2.225
67,Greece,Western Europe,5.723,0.046,5.813,5.632,10.279,0.823,72.600,0.582,-0.288,0.823,2.43,1.273,0.811,0.760,0.243,0.000,0.074,2.561
73,North Cyprus,Western Europe,5.536,0.051,5.636,5.435,10.576,0.820,73.898,0.795,0.012,0.626,2.43,1.377,0.806,0.801,0.503,0.196,0.200,1.653

In [21]:
reviews.loc[reviews['Regional indicator']=='Western Europe',['Country name','Ladder score']]

    Country name  Ladder score
0        Finland         7.842
1        Denmark         7.620
2    Switzerland         7.571
3        Iceland         7.554
4    Netherlands         7.464
..           ...           ...
27         Italy         6.483
38        Cyprus         6.223
57      Portugal         5.929
67        Greece         5.723
73  North Cyprus         5.536

[21 rows x 2 columns]

In [22]:
reviews.loc[(reviews['Regional indicator']=='East Asia') & (reviews['Ladder score']>6.0)] # note the usage of ( )

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
23,Taiwan Province of China,East Asia,6.584,0.038,6.659,6.51,10.871,0.898,69.6,0.784,-0.07,0.721,2.43,1.48,0.982,0.665,0.49,0.142,0.139,2.687