### Grouping
- To group our data, and then do something specific to the group the data is in.

In [1]:
import pandas as pd
#reviews = pd.read_csv('world-happiness-report-2021/world-happiness-report-2021.csv', index_col=0)
reviews = pd.read_csv('world-happiness-report-2021/world-happiness-report-2021.csv')
pd.set_option('display.max_rows',5)
reviews

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [2]:
pd.set_option('display.max_rows',10)
# value_counts() : to see a list of unique values and how often they occur in the dataset
reviews['Regional indicator'].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Middle East and North Africa          17
Central and Eastern Europe            17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             7
East Asia                              6
North America and ANZ                  4
Name: Regional indicator, dtype: int64

- Think of each group generated as being a slice of DataFrame containing only data with values that match. 
- This DataFrame is accessible directly using the `apply()` method

In [3]:
reviews.groupby('Regional indicator')['Regional indicator'].count()

Regional indicator
Central and Eastern Europe            17
Commonwealth of Independent States    12
East Asia                              6
Latin America and Caribbean           20
Middle East and North Africa          17
North America and ANZ                  4
South Asia                             7
Southeast Asia                         9
Sub-Saharan Africa                    36
Western Europe                        21
Name: Regional indicator, dtype: int64

In [4]:
reviews.groupby('Regional indicator')['Ladder score'].max()

Regional indicator
Central and Eastern Europe            6.965
Commonwealth of Independent States    6.179
East Asia                             6.584
Latin America and Caribbean           7.069
Middle East and North Africa          7.157
North America and ANZ                 7.277
South Asia                            5.269
Southeast Asia                        6.377
Sub-Saharan Africa                    6.049
Western Europe                        7.842
Name: Ladder score, dtype: float64

In [7]:
type(reviews.groupby('Regional indicator'))

pandas.core.groupby.generic.DataFrameGroupBy

### apply()
- Apply function group-wise and combine the results together.
- The function passed to apply() must take a **dataframe** as its first argument and return a DataFrame, Series or scalar. 
- apply() will then take care of combining the results back together into a single dataframe or series.

In [6]:
reviews.groupby('Regional indicator').apply(lambda df : df['Country name'].iloc[0])

Regional indicator
Central and Eastern Europe                      Czech Republic
Commonwealth of Independent States                  Uzbekistan
East Asia                             Taiwan Province of China
Latin America and Caribbean                         Costa Rica
Middle East and North Africa                            Israel
North America and ANZ                              New Zealand
South Asia                                               Nepal
Southeast Asia                                       Singapore
Sub-Saharan Africa                                   Mauritius
Western Europe                                         Finland
dtype: object

In [8]:
df = pd.DataFrame({'A': 'a a b'.split(),
                   'B': [1,2,3],
                   'C': [4,6,5]})
print(df)

   A  B  C
0  a  1  4
1  a  2  6
2  b  3  5

In [ ]:
g = df.groupby('A')

- Example 1: 
   - below the function passed to apply takes a DataFrame as its argument and returns a DataFrame. 
   - apply() combines the result for each group together into a new DataFrame:

In [9]:
g[['B', 'C']].apply(lambda x: x / x.sum())

          B    C
0  0.333333  0.4
1  0.666667  0.6
2  1.000000  1.0